In [56]:
#Dependencies

import pymongo
import pandas as pd
import requests
from bs4 import BeautifulSoup
from splinter import Browser
from pprint import pprint
import time
from webdriver_manager.chrome import ChromeDriverManager

In [57]:
#setup browser 
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\erika\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

# NASA Mars News

In [58]:
#nasa website that will be scraped

url_nasa = 'https://redplanetscience.com/'

#browse red planet science page
browser.visit(url_nasa)
time.sleep(1)

In [59]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [60]:
#scrape News Title

mars_results = soup.find_all('div', class_="content_title")
latest_title = mars_results[0].text

In [61]:
#scrape paragraph

mars_results = soup.find_all('div', class_="article_teaser_body")
latest_paragraph = mars_results[0].text

In [62]:
print(latest_title)
print(latest_paragraph)

NASA's Mars 2020 Rover Completes Its First Drive
In a 10-plus-hour marathon, the rover steered, turned and drove in 3-foot (1-meter) increments over small ramps.

In [63]:
#quitting the browser

browser.quit()

# JPL Mars Space Images - Featured Image

In [64]:
#setup new browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\erika\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [65]:
# jpl nasa website that will be scraped

url_image = 'https://spaceimages-mars.com/'

#browse jpl page
browser.visit(url_image)
time.sleep(1)

In [66]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [67]:
#locate featured image

relative_image_path = soup.find_all('img')[1]["src"]
featured_image_url = url_image + relative_image_path
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [68]:
#quitting browser

browser.quit()

# Mars Facts

In [14]:
#setup new browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Driver [C:\Users\erika\.wdm\drivers\chromedriver\win32\97.0.4692.71\chromedriver.exe] found in cache

In [15]:
# galaxy facts website that will be scraped

url_facts = 'https://galaxyfacts-mars.com/'

#browse galaxy page
browser.visit(url_facts)
time.sleep(1)

In [16]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [17]:
tables = pd.read_html(url_facts)[0]
tables

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [18]:
#dropped the first row
tables = tables.iloc[1: , :]
tables

                    0                1                2
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [19]:
#renamed the columns
renamed_mars = tables.rename(columns={0:"Comparison", 1:"Mars", 2:"Earth"})
renamed_mars

           Comparison             Mars            Earth
1           Diameter:         6,779 km        12,742 km
2               Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3              Moons:                2                1
4  Distance from Sun:   227,943,824 km   149,598,262 km
5     Length of Year:   687 Earth days      365.24 days
6        Temperature:     -87 to -5 °C      -88 to 58°C

In [20]:
#reduced columns to only show Mars data
mars_table_df = renamed_mars[["Comparison", "Mars"]]
mars_table_df

           Comparison             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [21]:
#generate HTML table from DataFrame
html_table = mars_table_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Comparison</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
#strip unwanted newlines to clean up the table
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Comparison</th>      <th>Mars</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>    </tr>  </tbody></table>'

In [23]:
#quitting browser

browser.quit()

# Mars Hemispheres

In [38]:
#setup new browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/97.0.4692.71/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\erika\.wdm\drivers\chromedriver\win32\97.0.4692.71]

In [39]:
# mars hemispheres website that will be scraped
url_hemispheres = 'https://marshemispheres.com/'
browser.visit(url_hemispheres)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [40]:
#scrape images
hemispheres = soup.find_all("div", class_="item")
hemispheres

[<div class="item">
 <a class="itemLink product-item" href="cerberus.html"><img alt="Cerberus Hemisphere Enhanced thumbnail" class="thumb" src="images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="cerberus.html">
 <h3>Cerberus Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 21 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Cerberus hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of 104 Viking Orbiter images acquired…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="schiaparelli.html"><img alt="Schiaparelli Hemisphere Enhanced thumbnail" class="thumb" src="images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="schiaparelli.html">
 <h3>Schiaparelli Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 35 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Schiaparelli hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The images were acquired in 1980 during early northern…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="syrtis.html"><img alt="Syrtis Major Hemisphere Enhanced thumbnail" class="thumb" src="images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="syrtis.html">
 <h3>Syrtis Major Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 25 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Syrtis Major hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. This mosaic is composed of about 100 red and violet…</p>
 </div>
 <!-- end description -->
 </div>,
 <div class="item">
 <a class="itemLink product-item" href="valles.html"><img alt="Valles Marineris Hemisphere Enhanced thumbnail" class="thumb" src="images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png"/></a>
 <div class="description">
 <a class="itemLink product-item" href="valles.html">
 <h3>Valles Marineris Hemisphere Enhanced</h3>
 </a>
 <span class="subtitle" style="float:left">image/tiff 27 MB</span><span class="pubDate" style="float:right"></span><br/>
 <p>Mosaic of the Valles Marineris hemisphere of Mars projected into point perspective, a view similar to that which one would see from a spacecraft. The distance is 2500 kilometers from the surface of…</p>
 </div>
 <!-- end description -->
 </div>]

In [49]:
#loop through each hemisphere and use dictionary to store data
title=[]
img_url=[]
for images in hemispheres:
    title = images.find('h3').text
    url = images.find('a')['href']
    hem_url = url_hemispheres+url
    browser.visit(hem_url)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    hem_img= soup.find('div',class_='downloads')
    image_urls=hem_img.find('a')['href']
#append dictionary 
    img_url.append({"title": title, "img_url": image_urls})

In [50]:
 img_url

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'images/valles_marineris_enhanced-full.jpg'}]

In [37]:
#quitting browser

browser.quit()